.not-found {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.error-message {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
}

.error-message > a{
    text-decoration: underline;
}

.err404 {
    font-size: 4em;
}

.goback {
    font-size: 2em;
}

.goback:hover {
    transform: translateY(-10%);
    transition: 0.1s ease;
}

.goback:focus {
    color: black;
    transform: none;
}