.footer-wrapper {
    display: flex;
    justify-content: space-around;
    padding: 1em 0;
    border-top: 1px solid black;
}

.footer-wrapper > a {
    font-size: 1.25rem;
    padding: 0 1rem;
    border: 2px solid black;
}